:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--space-small) 0px var(--space-large);

  .contact {
    padding: 0px 0px var(--space-large);

    &-title {
      font-size: var(--size-subtitle);
      font-weight: 500;
      margin: 0px 0px var(--space-normal);
    }
    &-button {
      padding: var(--space-small) var(--space-medium);
      --text-color: #f1f1f1;
      --ripple-color: #084740;
      --background-color: var(--color-accent);
      --hover-color: #039281;
      --active-color: #068677;
      --font-size: var(--size-button);
    }
  }
  
  .footer {
    padding: 0px 0px var(--space-normal);

    .social-network-title {
      font-family: var(--barlow);
      font-weight: 300;
      margin: 0px 0px var(--space-small);
    }
    .social-network {
      margin: 0px 0px var(--space-normal);
      &-link {
        padding: 4px;
        margin: 0px 6px;
        font-size: var(--size-title);
      }
    }
  }

  .copyright {
    font-size: 0.9rem;
    font-weight: 300;
  }
}
