:host {
  --image-scale: 1;

  @media (max-width: 900px) {
    --image-scale: 0.8;
  }
  @media (max-width: 650px) {
    --image-scale: 0.6;
  }
  @media (max-width: 400px) {
    --image-scale: 0.4;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--space-small) 0px;
  max-height: 290px;
  height: 100%;
  overflow: hidden;
  border-radius: 2px;
  width: calc(100% + 30px);
  margin: var(--space-small) -15px;

  .cover-image {
    transition: transform 0.3s linear;
    transform: scale(var(--image-scale));
  }
}
