.button {
  /** Variables for the component */
  --text-color: 59, 59, 59;
  --background-color: 243, 243, 243;
  --font-size: 1rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  user-select: none;
  font-size: var(--font-size);
  padding: 9px 18px;
  border-radius: 3px;
  border: 1px solid transparent;
  font-family: var(--font);
  transition: background 0.18s linear;
  -webkit-tap-highlight-color: transparent;
  // Default color will be white
  background-color: rgba(var(--background-color), 0.08);
  color: rgb(var(--text-color));

  /** Ripple effect */
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, rgb(var(--text-color)) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1500%;
    opacity: 0;
    transition: background 0.57s, opacity 1.1s;
  }
  &:disabled {
    background-color: rgb(225, 225, 225) !important;
    color: rgb(134, 134, 134) !important;
    cursor: default !important;
  }
  &:hover {
    background-color: rgba(var(--background-color), 0.15);
  }
  &:active {
    background-color: rgba(var(--background-color), 0.27);
    &::after {
      background-size: 0%;
      opacity: 0.35;
      transition-duration: 0s;
    }
  }

  // Buttons icons and icons
  i {
    font-family: $icons-fonts;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
  }
  &.icon {
    padding: 7px;
  }
}