@import "normalize";
@import "variables";

// Default fonts for the library.
* {
  font-family: var(--barlow-semi-condensed);
  color: var(--color-text);
  font-weight: 400;
  text-decoration: none;
}

// Body will have a 14px padding for smaller screens.
body {
  padding: 0px;
  background-color: var(--color-background);
  // Main container
  .container {
    padding: 0px 14px;
    max-width: 1200px;
    margin: 0px auto;
  }
}

// Add button after all the main styles.
@import "button";
