:root {
  // Universal
  --max-window-width: 1200px;

  // Colors
  --color-background: #ffffff;
  --color-text: #525252;
  // --color-background: #141414;
  // --color-text: #d8d8d8;
  --color-accent: #009C8B;
  --color-accent-transparent: #009c8a17;
  --color-accent-hover: #009c8a2f;
  --color-accent-active: #009c8a52;

  // Fonts
  --barlow: "Barlow", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --barlow-semi-condensed: "Barlow Semi Condensed", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --barlow-condensed: "Barlow Condensed", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;

  // Sizes
  --space-none: 0px;
  --space-small: 15px;
  --space-normal: 25px;
  --space-medium: 48px;
  --space-large: 78px;

  // Font Sizes
  --size-title: 2rem;
  --size-subtitle: 1.4rem;
  --size-paragraph: 1rem;
  --size-button: 1.1rem;
}
