:host {
  --gap-size: var(--space-small);

  display: block;
  text-align: center;
  overflow: hidden;
  width: 100%;

  @media (max-width: 790px) {
    width: calc(100% + 22px);
    margin: 0px -11px var(--space-small);
    --gap-size: 2px
  }

  .grid {
    width: calc(100% - var(--gap-size));
    margin: 0px 0px var(--space-small);
    transition: gap 0.2s linear;
    display: grid;
    gap: var(--gap-size);
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }

  .load-more-button {
    --text-color: #8b8b8b;
    --background-color: #a3a3a31f;
    --hover-color: #a3a3a35b;
    --active-color: #a3a3a37e;
    --font-size: var(--size-button);
    width: 100%;
    margin: 0px 0px var(--space-small);
    transition: width 0.3s linear, margin 0.3s linear;

    @media (max-width: 790px) {
      width: calc(100% - (var(--space-small) * 2));
      margin: 0px var(--space-small) var(--space-small);
    }
  }
}
