:host {
  --max-width: 400px;
  display: block;
  text-align: center;
  touch-action: pan-y !important;

  .send-email {
    max-width: var(--max-width);
    margin: 0px auto var(--space-medium);
    font-size: var(--size-paragraph);
    font-family: var(--barlow);
    font-weight: 300;
    line-height: var(--size-subtitle);
  }

  .copy-email {
    --background-color: #adadad21;
    --font-size: var(--size-button);
    margin: 0px auto var(--space-large);
    padding: 12px var(--space-small);
    
    &-mail {
      margin-right: 2px;
      text-decoration: underline;
      margin: 0px 0.8rem 0px 0px;
    }
    &-icon {
      padding: 0px;
      color: var(--color-accent);
    }
  }
}