:host {
  --max-width: 400px;
  display: block;
  text-align: center;
  touch-action: pan-y !important;

  .description {
    margin: 0px auto var(--space-medium);
    &-text {
      font-size: var(--size-paragraph);
      font-family: var(--barlow);
      font-weight: 300;
      line-height: var(--size-subtitle);
    }
  }

  .copy-email-container {
    margin: 0px auto var(--space-large);
    width: fit-content;
    position: relative;
    
    .copy-email {
      --background-color: #adadad21;
      --font-size: var(--size-button);
      --text-color: var(--color-text);
      --hover-color: #a3a3a35b;
      --active-color: #a3a3a37e;
      padding: 12px var(--space-small);
      margin: 0px auto var(--space-small);

      &-mail {
        margin-right: 2px;
        text-decoration: underline;
        margin: 0px 0.8rem 0px 0px;
      }
      &-icon {
        padding: 0px;
        color: var(--color-accent);
      }
    }

    .copied-message {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background-color: var(--color-text);
      margin: 0px auto;
      padding: 6px 12px;
      cursor: pointer;
      color: var(--color-background);
      position: absolute;
      top: 3.5rem;
      left: 15%;
    }
  }
}
