<app-cover [imagePosition]="1"></app-cover>

<!-- View if open for new jobs -->
<ng-container *ngIf="content?.isOpenForJobs; else unavailable">
  <app-headline text="GET IN TOUCH"></app-headline>

  <!-- Page description -->
  <div class="description">
    <p class="description-text" *ngFor="let paragraph of (contentService.getContent() | async)?.pageDescriptions?.contact">
      {{ paragraph }}
    </p>
  </div>

  <!-- Email and copy button -->
  <button class="copy-email button" (click)="copyToClipboard()">
    <p class="copy-email-mail">{{ content?.email }}</p>
    <i class='copy-email-icon bx bxs-copy'></i>
  </button>

</ng-container>

<!-- If unavailable only show headline -->
<ng-template #unavailable>
  <app-headline [text]="'SORRY,\nI’M UNAVAILABLE\nFOR NEW PROJECTS\nAT THIS MOMENT'"></app-headline>
</ng-template>

<app-footer [showContactButton]="false"></app-footer>