:host {
  display: block;
  text-align: center;
  --max-width: 650px;

  .works-container {
    max-width: var(--max-width);
    margin: 0px auto var(--space-large);
    .works-headline {
      &-text {
        font-size: var(--size-paragraph);
        font-family: var(--barlow);
        font-weight: 300;
        line-height: var(--size-subtitle);
      }
    }
  }
}
