<app-cover [imagePosition]="2"></app-cover>
<app-headline text="PROJECTS"></app-headline>

<div class="works-container">
  <!-- Page description -->
  <div class="description">
    <p class="description-text" *ngFor="let paragraph of (contentService.getContent() | async)?.pageDescriptions?.works?.split('\\n')">
      {{ paragraph }}
    </p>
  </div>

  <!-- Page archive notice -->
  <app-archived-page-notice *ngIf="(contentService.getContent() | async) as content" [content]="content"></app-archived-page-notice>
</div>

<app-footer></app-footer>
