<div class="container" *ngIf="!isLoading; else loading">
  <button class="close-button button" (click)="closeDialog()">
    <i class='close-button-icon bx bx-x'></i>
  </button>

  <div class="project-content">

    <!-- Name of the project and it shows if is current active -->
    <div class="project-name">
      <h1 class="project-name-text">{{ project?.name | uppercase}}</h1>
      <h3 class="project-name-is-current" *ngIf="project?.isCurrent">CURRENTLY WORKING HERE</h3>
    </div>

    <div class="project-body">
      <!-- Loop with the descriotion for each project -->
      <div class="project-body-descriptions">
        <p class="description" *ngFor="let paragraph of project?.description">
          {{ paragraph }}
        </p>
      </div>

      <div class="project-body-meta">
        <!-- Year the project was worked on -->
        <div class="project-body-meta-item">
          <h3 class="project-body-meta-item-title">YEAR:</h3>
          <p class="project-body-meta-item-text">{{ project?.startedAt?.toDate() | date:'yyyy' }}</p>
        </div>
        <!-- Role given during the project -->
        <div class="project-body-meta-item">
          <h3 class="project-body-meta-item-title">ROLE:</h3>
          <p class="project-body-meta-item-text">{{ project?.role | titlecase }}</p>
        </div>
      </div>
    </div>

    <!-- Project image... -->
    <app-image-slider class="image-slider" [imageUrls]="project ? project.imageUrls : []"></app-image-slider>

    <!-- External links to take a look to the project. Needs to have at least 1 link -->
    <div class="project-external" *ngIf="project && (project.gitUrl || project.webUrl); else margin">
      <h3 class="project-external-title">SEE ALSO IN</h3>
      <div class="project-external-links">
        <!-- Github repor link -->
        <a class="project-link" *ngIf="project && project.gitUrl" [href]="project.gitUrl" target="_blank"> 
          <i class='project-link-icon bx bxl-github'></i>
        </a>
        <!-- Live demo link -->
        <a class="project-link" *ngIf="project && project.webUrl" [href]="project.webUrl" target="_blank">
          <i class='project-link-icon bx bx-link-external'></i>
        </a>
      </div>
    </div>

    <ng-template #margin>
      <div class="project-external"></div>
    </ng-template>

  </div>
  <app-footer></app-footer>
</div>

<ng-template #loading>
  <div class="loading-container">
    <app-cube-grid-spinner class="loading"></app-cube-grid-spinner>
  </div>
</ng-template>